body{
    margin: 0;
    font-family: Helvetica Neue sans-serif;
}

.section{
    width: 1440px;
}

h1{
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1px;
}

h2{
    padding-top: 30px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

h3{
    margin: 40px 0;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
}

h4{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin: 16px 0;
}

a{
    text-decoration: none;
}

ul{
    margin-top: 26px;
}

li{
    margin: 8px 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.pstyle1{
    font-size: 18px;
    line-height: 28px;
}

.pstyle2{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 16px 0;
}

.wrapper{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#block1{
    width: 540px;
    height: 409px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#block2{
    margin: 100px 0 0 165px;
    width: 445px;
    height: 300px;
}

#block3{
    width: 1110px;
    margin: 40px auto 0 auto;
}

.picture{
    width: 555px;
    height: 380px;
    margin: 60px 165px 60px 0;
}

.bg{
    background-color: rgba(0, 101, 242, 0.12);
}

.blue{
    color: deepskyblue;
}